
<p>
  <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Types reminder
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="row">
      <!-- First Column -->
      <div class="col-md-4">
        <ul class="list-group">
          <li class="poke-fight list-group-item">Fighting</li>
          <li class="poke-water list-group-item">Water</li>
          <li class="poke-flying list-group-item">Flying</li>
          <li class="poke-grass list-group-item">Grass</li>
          <li class="poke-poison list-group-item">Poison</li>
          <li class="poke-normal list-group-item">Normal</li>
          <li class="poke-dragon list-group-item">Dragon</li>
        </ul>
      </div>
      <!-- Second Column -->
      <div class="col-md-4">
        <ul class="list-group">
          <li class="poke-electric list-group-item">Electric</li>
          <li class="poke-ground list-group-item">Ground</li>
          <li class="poke-psychic list-group-item">Psychic</li>
          <li class="poke-rock list-group-item">Rock</li>
          <li class="poke-ice list-group-item">Ice</li>
          <li class="poke-bug list-group-item">Bug</li>
        </ul>
      </div>
       <div class="col-md-4">
        <ul class="list-group">
          <li class="poke-ghost list-group-item">Ghost</li>
          <li class="poke-dark list-group-item">Dark</li>
          <li class="poke-steel list-group-item">Steel</li>
          <li class="poke-fairy list-group-item">Fairy</li>
          <li class="poke-fire list-group-item">Fire</li>
        </ul>
      </div>
    </div>
  </div>
</div>
