      <!-- Responsive column sizes: 12 on extra small screens, 6 on small, 4 on medium, 3 on large -->
<div class="card d-flex justify-content-around border-3 border-dark shadow-sm ">
  <%= render "components/logo-ball" %>
</div>
