// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #c2ebd8;
$gray: #0E0000;
$light-gray: #F4F4F4;


$pale-green: #ddffef;
$poke-normal: #9fa19f;
$poke-fight: #ff8000;
$poke-flying: #81b9ef;
$poke-poison: #9141cb;
$poke-ground: #915121;
$poke-rock: #b6a136;
$poke-bug: #91a119;
$poke-ghost: #704170;
$poke-steel: #60a1b8;
$poke-fire: #e62829;
$poke-water: #6890f0;
$poke-grass: #78c850;
$poke-electric: #f8d030;
$poke-psychic: #f85888;
$poke-ice: #3dcef3;
$poke-dragon: #7038f8;
$poke-dark: #705848;
$poke-fairy: #ee99ac;
